<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kalaxia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css" />
  </head>
  <body>
    <div id="registration">
      <div id="profile">

      </div>
      <div id="start-choices">
        <header>
          <h1 data-translate="true">registration.faction.title</h1>
        </header>
        <section>
          <div id="factions"></div>
          <div id="descriptions"></div>
        </section>
        <footer>
          <button onclick="nextStep();" data-translate="true">registration.next_step</button>
        </footer>
      </div>
    </div>
    <script type="text/javascript" src="/config/config.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/registration.js"></script>
  </body>
</html>
