<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kalaxia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/planet.css" />
  </head>
  <body>
    <div id="registration">
      <div id="profile">

      </div>
      <div id="start-choices">
        <header>
          <h1 data-translate="true">registration.planet.title</h1>
        </header>
        <section>
          <div id="planets"></div>
          <div id="descriptions"></div>
        </section>
        <footer>
          <button onclick="validate();" data-translate="true">registration.validate</button>
        </footer>
      </div>
    </div>
    <input id="registration-step" type="hidden" value="planets" />
    <script type="text/javascript" src="/config/config.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/lib/chart.js"></script>
    <script type="text/javascript" src="/static/js/components/planet/relations.js"></script>
    <script type="text/javascript" src="/static/js/components/planet/resources.js"></script>
    <script type="text/javascript" src="/static/js/registration.js"></script>
  </body>
</html>
