<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kalaxia</title>
    </head>
    <body>
        <div id="app">
            <top-menu v-if="currentPlayer" :faction="currentPlayer.faction"></top-menu>
            <logout-button id="logout"></logout-button>
            <router-view id="wrapper"></router-view>
            <player-menu v-if="currentPlayer" :player="currentPlayer"></player-menu>
            <planet-menu v-if="currentPlanet" :planet="currentPlanet"></planet-menu>
        </div>
        
        <script type="text/javascript" src="/dist/js/app.js"></script>
    </body>
</html>
