#planet-data {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

#planet-data > header > h1 > a {
    color: #8AF;
    text-decoration: none;
}

#points-configuration {
    width: 80%;
    margin: auto;
}

#points-configuration > section > .gauge-container {

}

#points-configuration > section > .gauge-container > section > .gauge {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #EFEFEF;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-indicator {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    color: #8AF;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-content {
    width: 0%;
    height: 40px;
    background-color: #EFEFEF;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-add,
#points-configuration > section > .gauge-container > section > .gauge > .gauge-substract {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #565656;
    color: #EFEFEF;
    font-size: 2.0em;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-add:hover,
#points-configuration > section > .gauge-container > section > .gauge > .gauge-substract:hover {
    background-color: #222;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-add {
    right: 40px;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-substract {
    right: 0px;
}

.buildings-list {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.buildings-list > header {

}

.buildings-list > header > h3 > a {
    text-decoration: none;
    color: #8AF;
}

.buildings-list > section {
    display: flex;
    flex-wrap: wrap;
}

.buildings-list > section > .building {
    display: flex;
    width: 300px;
    margin: 10px 20px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #565656;
    border-radius: 5px;
    overflow: hidden;
    cursor:pointer;
}
.buildings-list > section > .building.selected {
    box-shadow: 0px 0px 10px #FFF;
}

.buildings-list > section > .building.category-resource > header,
.buildings-list > section > .building.category-resource > footer > .build-button:hover {
    background-color: #08C;
}
.buildings-list > section > .building.category-techno > header,
.buildings-list > section > .building.category-techno > footer > .build-button:hover {
    background-color: #F843B1;
}
.buildings-list > section > .building.category-trade > header,
.buildings-list > section > .building.category-trade > footer > .build-button:hover {
    background-color: #FFC928;
}
.buildings-list > section > .building.category-shipyard > header,
.buildings-list > section > .building.category-shipyard > footer > .build-button:hover {
    background-color: #FF2828;
}
.buildings-list > section > .building.category-area > header,
.buildings-list > section > .building.category-area > footer > .build-button:hover {
    background-color: #EFEFEF;
}

.buildings-list > section > .building > header {
    position: relative;
}

.buildings-list > section > .building > header > .construction-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url('../images/buildings/constructing.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 56px 56px;
}

.buildings-list > section > .building > header > img {
    width: 96px;
    height: 96px;
}

.buildings-list > section > .building > section {
    width: 100%;
    padding: 10px;
}

.buildings-list > section > .building > section > h5 {
    margin: 0px;
}

.buildings-list > section > .building > section > .price {
    display: flex;
    margin-top: 5px;
}
.buildings-list > section > .building > section > .price > span {
    width: 80px;
}

.buildings-list > section > .building > section > .points {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.buildings-list > section > .building > section > .points > .progressbar {
    flex-grow: 2;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #222;
}
.buildings-list > section > .building > section > .points > .progressbar > div {
    flex-grow: 2;
    background-color: #EFEFEF;
    height: 100%;
}
.buildings-list > section > .building > section > .points > .industry-point {
    margin-left: 5px;
}

.buildings-list > section > .building > footer {
    background-color: #222;
    padding: 16px;
}

.buildings-list > section > .building > footer > .build-button {
    width: 64px;
    height: 64px;
    background-image: url('../images/buildings/build.svg');
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 36px;
    border: 2px solid #000;
    cursor:hover;
    transition: background-color 0.2s ease-out;
}

#planet-buildings > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#planet-available-buildings {
    display: none;
}

#planet-available-buildings.visible {
    display: block;
}
