#planet-data {
    grid-column: 1/3;
    grid-row: 1/5;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

#planet-data > header > h1 > a {
    color: #E1BB8A;
    text-decoration: none;
}

#points-configuration {
    grid-column: 2/10;
    grid-row: 3/9;
    width: 80%;
    margin: auto;
    font-variant: small-caps;
    z-index: 10;
}

#points-configuration > header > #available-points > span {
    color: #E1BB8A;
}

#points-configuration > section > .gauge-container {

}

#points-configuration > section > .gauge-container > section > .gauge {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #E1BB8A;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-indicator {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    color: #E1BB8A;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-content {
    width: 0%;
    height: 40px;
    background-color: #242456;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-add,
#points-configuration > section > .gauge-container > section > .gauge > .gauge-substract {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: black;
    color: #E1BB8A;
    font-size: 2.0em;
    border-left: 2px solid #E1BB8A;
    border-right: 2px solid #E1BB8A;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-add:hover,
#points-configuration > section > .gauge-container > section > .gauge > .gauge-substract:hover {
    background-color: #222;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-add {
    right: 40px;
}

#points-configuration > section > .gauge-container > section > .gauge > .gauge-substract {
    right: 0px;
}

.buildings-list {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.buildings-list > header {

}

.buildings-list > header > h3 > a {
    text-decoration: none;
    color: #E1BB8A;
}

.buildings-list > section {
    display: flex;
    flex-wrap: wrap;
}

.buildings-list > section > .building {
    display: flex;
    width: 300px;
    margin: 10px 20px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #565656;
    border-radius: 5px;
    overflow: hidden;
    cursor:pointer;
}
.buildings-list > section > .building.selected {
    box-shadow: 0px 0px 10px #FFF;
}

.buildings-list > section > .building.category-resource > header,
.buildings-list > section > .building.category-resource > footer > .build-button:hover {
    background-color: #08C;
}
.buildings-list > section > .building.category-techno > header,
.buildings-list > section > .building.category-techno > footer > .build-button:hover {
    background-color: #F843B1;
}
.buildings-list > section > .building.category-trade > header,
.buildings-list > section > .building.category-trade > footer > .build-button:hover {
    background-color: #FFC928;
}
.buildings-list > section > .building.category-shipyard > header,
.buildings-list > section > .building.category-shipyard > footer > .build-button:hover {
    background-color: #FF2828;
}
.buildings-list > section > .building.category-area > header,
.buildings-list > section > .building.category-area > footer > .build-button:hover {
    background-color: #EFEFEF;
}

.buildings-list > section > .building > header {
    position: relative;
}

.buildings-list > section > .building > header > .construction-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url('../images/buildings/constructing.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 56px 56px;
}

.buildings-list > section > .building > header > img {
    width: 96px;
    height: 96px;
}

.buildings-list > section > .building > section {
    width: 100%;
    padding: 10px;
}

.buildings-list > section > .building > section > h5 {
    margin: 0px;
}

.buildings-list > section > .building > section > .price {
    display: flex;
    margin-top: 5px;
}
.buildings-list > section > .building > section > .price > span {
    width: 80px;
}

.buildings-list > section > .building > section > .points {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.buildings-list > section > .building > section > .points > .progressbar {
    flex-grow: 2;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #222;
}
.buildings-list > section > .building > section > .points > .progressbar > div {
    flex-grow: 2;
    background-color: #EFEFEF;
    height: 100%;
}
.buildings-list > section > .building > section > .points > .industry-point {
    margin-left: 5px;
}

.buildings-list > section > .building > footer {
    background-color: #222;
    padding: 16px;
}

.buildings-list > section > .building > footer > .build-button {
    width: 64px;
    height: 64px;
    background-image: url('../images/buildings/build.svg');
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 36px;
    border: 2px solid #000;
    cursor:hover;
    transition: background-color 0.2s ease-out;
}

#planet-buildings {
    grid-column: 2/10;
    grid-row: 2/5;
}

#planet-buildings > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#planet-available-buildings {
    display: none;
    grid-column: 2/10;
    grid-row: 5/8;
}

#planet-available-buildings.visible {
    display: block;
}

#planet-production {
  grid-column: 2/6;
  grid-row: 3/8;
}

#planet-storage {
  grid-column: 6/10;
  grid-row: 3/8;
}

#planet-storage > h5 {
  margin : 0;
}

#planet-production > h5 {
  margin : 0;
}

.storage-picto {
    align-items: stretch;
    margin:0;
}

.storage {
    text-align: center;
}

.storage-display {
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    height:25px;
    width :100%;
}

.storage-full {
    border-radius: 25px;
    background-color: grey;
    height : 100%;
}

.current-amount {
    font-size: 1.7em;
    display: inline;
}

.info {
    flex: 1;
}

.full-storage-display {
    display: flex;
}

.full-storage-display > h5 {
    margin :0;
}

.info {
    justify-content: center;
}

.hourly-production {
    justify-content: flex-end;
}

#chart-background {
    border-radius: 100%;
    background-color: #1F2125;
    position: relative;
}

.resource-picto-density {
    position: absolute;
}

.density-picto {
    border-radius: 100%;
    border-color: #1F2125;
    border-style: solid;
    background-color: #090A0A;
    position: absolute;
}
