#faction {
    grid-row: 2/5;
    grid-column: 2/6;
}

#faction > #infos > h1 {
    display: flex;
}

#faction > #infos > h1 > .faction-flag {
    margin-right: 20px;
}

#members {
    grid-row: 2/10;
    grid-column: 7/10;
}

#members > section {
    display: flex;
    flex-wrap: wrap;
}

.member {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px 10px 10px;
    background-color: #2A2A2A;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    color: #EFEFEF;
    text-decoration: none;
}

.member > header > img {
    width: 64px;
    height: 64px;
    background-color: #090A0A;
    border-radius: 35px;
}

.member > section {
    margin-left: 20px;
}

#faction-relations {
    grid-row: 6/10;
    grid-column: 2/5;
}

#faction-relations > section {
    display: flex;
}

#faction-relations > section > .faction {
    text-align: center;
    margin: 10px;
}

#faction-relations > section > .faction > header > h4 {
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #565656;
}

#faction-relations > section > .faction > header > a > .faction-flag {
    margin: auto;
}
