
a.planet { /* hyper link for planet*/
	color: #E1BB8A;
	text-decoration: none;
}

#fleet-create-section > div {
	--height : 40px; /* this is the varaible defining the height of the div*/
	position: relative;
    display: block; /* I have spacing probleme when using flex with the link*/
    align-items: center;
    justify-content: center;
    width: 50%;
    height: var(--height);
    background-color: black;
    /*color: #E1BB8A;*/
    /*font-size: 2.0em;*/
    border: 2px solid #E1BB8A;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    text-align: center;
	vertical-align: middle; /* vertically in the middle*/
	line-height: var(--height);       /* The size of the ligne for the vertical-align : The same as your div height */
}






#fleet-create-section > div:hover {
	background-color: #222;
}

#fleet-table{
	/*border-spacing: 10px;*/
	border-collapse: collapse;
	margin-left:20px;
	
}

#fleet-table tr {
	/*background-color: #242456;*/
	/*background-color: #202030;*/
	

}

#fleet-table th {
	padding-bottom : 6px;
	padding-left : 10px;
	padding-right : 5px;
	padding-top :6px;


}


#fleet-table .fleet-container > .fleet-id {
	padding-left:10px;
	text-align:right;
	color : #E1BB8A;


}

#fleet-table .fleet-container > .fleet-position {
	text-align:left;
}

#fleet-table .fleet-container:nth-child(even) {
	background-color: #303040;
}
#fleet-table .fleet-container:nth-child(odd) {
	background-color: #505060;
}

#fleet-table .header-table > .fleet-id {
	text-align:left;
	padding-left:10px;
	
}
#fleet-table .header-table > th{
	border-bottom : 2px solid white;
	background-color: #606070;
}


#fleet-table .header-table > .fleet-position {
	text-align:left;

}


#fleets-view {
	width: 80%;
    margin: auto;
    margin-top: 40px;
}

#fleets-list  {
	margin-top : 20px;
}

#fleets-list .no-fleet-planet,
#fleets-list .no-fleet-all {
	
	
	animation:blinkingText 4s 2;
	color:#fff;
	/*width: 50%;*/
	/*align-items: center;
    justify-content: center;*/
	
}

@keyframes blinkingText{
    0%{     color: #fff;    }
    50%{   color: #f77;    }
    100%{     color: #fff;    }
}


#fleets-list > #fleet-table   .error-fleet-all,
#fleets-list > #fleet-table   .error-fleet-planet {
	animation:blinkingText 4s 2;
	color:#fff;
}
