
a.planet { /* hyper link for planet*/
	color: #E1BB8A;
	text-decoration: none;
}

#fleet-create-section > div {
	--height : 40px; /* this is the varaible defining the height of the div*/
	position: relative;
    display: block; /* I have spacing probleme when using flex with the link*/
    align-items: center;
    justify-content: center;
    width: 50%;
    height: var(--height);
    background-color: black;
    /*color: #E1BB8A;*/
    /*font-size: 2.0em;*/
    border: 2px solid #E1BB8A;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    text-align: center;
	vertical-align: middle; /* vertically in the middle*/
	line-height: var(--height);       /* The size of the ligne for the vertical-align : The same as your div height */
}

#fleets-view {
	grid-row: 3;
	grid-column: 2/10;
}

#single-fleet-view-container {
	grid-row: 3;
	grid-column: 2/10;
}



#fleet-create-section > div:hover {
	background-color: #222;
}

#fleet-table{
	/*border-spacing: 10px;*/
	border-collapse: collapse;
	margin-left:20px;

}

#fleet-table tr {
	/*background-color: #242456;*/
	/*background-color: #202030;*/


}

#fleet-table th {
	padding-bottom : 6px;
	padding-left : 10px;
	padding-right : 5px;
	padding-top :6px;


}

.fleet-id {
	color : #E1BB8A;
}


#fleet-table .fleet-container > .fleet-id {
	padding-left:10px;
	text-align:right;
	color : #E1BB8A;

}

#fleet-table .fleet-container > .fleet-position {
	text-align:left;
}

#fleet-table tr:nth-child(even) {
	background-color: #303040;
	
}

#fleet-table tr.tr-link{
	transition: background-color 0.2s ease-out;
	cursor: pointer;
}

#fleet-table tr.tr-link:hover {
	background-color: #808090;
}


#fleet-table tr:nth-child(odd) {
	background-color: #505060;
}



#fleet-table .header-table > .fleet-id {
	text-align:left;
	padding-left:10px;

}
#fleet-table .header-table > th{
	border-bottom : 2px solid white;
	background-color: #606070;
}


#fleet-table .header-table > .fleet-position {
	text-align:left;

}


#fleets-view {
	width: 80%;
    margin: auto;
    margin-top: 40px;
}

#fleet-detail {
	max-width:80%
}

#fleets-list  {
	margin-top : 20px;
}

#fleets-list .no-fleet-planet,
#fleets-list .no-fleet-all {


	animation:blinkingText 4s 2;
	color:#fff;
	/*width: 50%;*/
	/*align-items: center;
    justify-content: center;*/

}

@keyframes blinkingText{
    0%{     color: #fff;    }
    50%{   color: #f77;    }
    100%{     color: #fff;    }
}


#fleet-table   .error-fleet-all,
#fleet-table   .error-fleet-planet {
	animation:blinkingText 4s 2;
	color:#fff;
}

.ships-list {
	max-width: 80%;
}
.ships-list > div.ships-table {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 10px;
}

.ships-list > div.ships-table > .flex-row,
.ships-list > div.ships-table > .flex-row-error {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 800px;
}

.ships-list > div.ships-table > .flex-row > div,
.ships-list > div.ships-table > .flex-row-error > div {
	/*width:100%;*/
	overflow: hidden;
	flex-basis: 0px;
	padding: 3px;
	margin: 1px;
}

.ships-list > div.ships-table > .flex-row > div {
	flex-grow: 1;
}

.ships-list > div.ships-table > .flex-row > div.model-number {
	/*width:20%;*/
	flex-grow: 0.4;
}

.ships-list > div.ships-table > .flex-row:not(:first-child) > div.model-number {
	color: #e1bb8a;
	text-align: right;
}

.ships-list > div.ships-table > .flex-row-error > div {
	flex-grow: 1;
	width: 100%;
	text-align : center
	animation:blinkingText 4s 2;
	color:#fff;
}

.ships-list > div.ships-table > div:nth-child(even) {
	background-color: #303040;
}

.ships-list > div.ships-table > div:nth-child(odd) {
	background-color: #505060;
}
.ships-list > div.ships-table > div:first-child {
	border-bottom: 2px solid white;
	background-color: #606070;
}

.ships-list > div.ships-table > .flex-row > div.model-transfer {
	flex-grow: 1.5;
}
.ships-list > div.ships-table > .flex-row > div.model-transfer > input {
	width: 20%;
	background-color: #7a7a8a;
	
	margin-right: 10px;
	color : white;
	border: 1px solid #000000;
}

.ships-list > div.ships-table > .flex-row > div.model-transfer > input[type="number"]::-webkit-inner-spin-button {
	/*opacity: 0;*/
}

.ships-list > div.ships-table > .flex-row > div.model-transfer > .transfer-ship {
	width: 100px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 2px;
	background-color: black;
	border: 1px solid #e1bb8a;
	cursor: pointer;
	transition: background-color 0.2s ease-out;
	text-align: center;
}

.ships-list > div.ships-table > .flex-row > div.model-transfer > .transfer-ship:hover {
	background-color: #222;
}

.ships-list > div.ships-table > .flex-row > div.model-transfer > span.error-transfer {
	animation:blinkingText 4s;
}
