


#map > .system{
	transition: background-color 0.2s ease-out, transform 0.4s ease-out, z-index 0.4s ease-out;
}

#map > .system:hover{
	background-color: #82899a;
}

#map > .contextMenuMapWarper{
	position: absolute;
	pointer-events: none;
}


#map .contextMenuMap{
	background-color: #fff00;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	position: relative;
	overflow: hidden;
	display: block;
	transition: all 0.4s ease-out;
	transform: scale(0.1) rotate(90deg);
	pointer-events: all;
	z-index:30;
}

.openMenu {
	transform: scale(1) !important;
	z-index:50 !important;
}

.systemWithMenu{
	transform: scale(1.4) !important;
	z-index:60 !important;
}

.contextMenuMap > div{
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: 0% 0%;
	height: 200px;
	width: 200px;
	border: solid 0.5px black;
	transition: all 0.2s ease-out;
	background-color: darkgrey;
}


.contextMenuMap > div:hover {
	filter: brightness(70%);
}

.contextMenuMap > div > span {
  	color: black;
  	font-size: 18px;
  	opacity: 0.7;
  	display: block;
  	background-color: green;
  	text-align: right;
  	position: absolute;
}


.contextMenuMap > div > span > div {
  	transform-origin: 40px 10px;
  	position:absolute;
  	top: -10px;
  	left: -40px;
  	width:20px;
  	height: 20px;
	display: block;
  
}

#menu-journey {
	position: relative;
    display: grid;
    grid-column: 4/9;
    grid-row: 9/10;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(10%, auto);
    overflow: hidden;
	pointer-events: none;

}


#menu-journey > div {
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-row: 1/10;
    grid-column: 2/8;
    width:100%;

    /*padding-top: 40px;
    padding-bottom: 140px;*/
    z-index: 100;
     background-color: #B9B9B9;
	color:black;
	pointer-events: all;


}

#menu-journey > div::before {
	position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    content: ' ';
    border-top: 20px solid #090A0A;
    border-left: 20px solid #090A0A;
    border-right: 20px solid #B9B9B9;
    border-bottom: 20px solid #B9B9B9;

}

#menu-journey > div::after {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    right: 0px;
    content: ' ';
    border-top: 18px solid #090A0A;
    border-right: 18px solid #090A0A;
    border-left: 18px solid #B9B9B9;
    border-bottom: 18px solid #B9B9B9;
}

#menu-journey > div > div{
	max-width:80%; /*Do not overflow uinder the #menu-journey > div::after or #menu-journey > div::before*/
	text-align: center;
}

#menu-journey > div >div > div.button {
	--height : 20px; /* this is the varaible defining the height of the div*/
	position: relative;
    display: block; /* I have spacing probleme when using flex with the link*/
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--height);
    /*color: #E1BB8A;*/
    /*font-size: 2.0em;*/
    border: 2px solid #6f5432;
    cursor: pointer;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    text-align: center;
	vertical-align: middle; /* vertically in the middle*/
	line-height: var(--height);       /* The size of the ligne for the vertical-align : The same as your div height */
	color: #EFEFEF;
}

#menu-journey > div > div > div.button:not(.deactivate){
	background-color: #040404;
}

#menu-journey > div > div > div.button.deactivate{
	background-color: #616161;
}

#menu-journey > div > div > div.button:not(.deactivate):hover{
	background-color: #333;
}

#map > .fleet-position {
	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url(../../static/images/map/Picto_Flotte_30px.png);
}
