

#left-menu,
#right-menu {
	pointer-events: none; /*make it passthrought for mouse event*/
}

#map > .system{
	transition: background-color 0.2s ease-out, transform 0.4s ease-out, z-index 0.4s ease-out;
}

#map > .system:hover{
	background-color: #82899a;
}

#map > .contextMenuMapWarper{
	position: absolute;
	pointer-events: none;
}


#map .contextMenuMap{
	background-color: #fff00;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	position: relative;
	overflow: hidden;
	display: block;
	transition: all 0.4s ease-out;
	transform: scale(0.1) rotate(90deg);
	pointer-events: all;
	z-index:30;
}

.openMenu {
	transform: scale(1) !important;
	z-index:50 !important;
}

.systemWithMenu{
	transform: scale(1.4) !important;
	z-index:60 !important;
}

.contextMenuMap > div{
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: 0% 0%;
	height: 200px;
	width: 200px;
	border: solid 0.5px black;
	transition: all 0.2s ease-out;
	background-color: darkgrey;
}


.contextMenuMap > div:hover {
	filter: brightness(70%);
}

.contextMenuMap > div > span {
  	color: black;
  	font-size: 18px;
  	opacity: 0.7;
  	display: block;
  	background-color: green;
  	text-align: right;
  	position: absolute;
}


.contextMenuMap > div > span > div {
  	transform-origin: 40px 10px;
  	position:absolute;
  	top: -10px;
  	left: -40px;
  	width:20px;
  	height: 20px;
	display: block;
  
}
