html {
  background: #242424;
  color: #EFEFEF;
  margin:0px;
}

body {
  margin: 0px;
}

#player-data {
  position:fixed;
  width: 200px;
  height: 50px;
  background-color: black;
  border-bottom: #565656 solid 1px;
  border-right: #565656 solid 1px;
  z-index: 10;
}

#player-data > h3 {
  text-align:right;
  padding-right:20px;
}
