html {
  width:100%;
  height: 100%;
  overflow: hidden;
  background-color: #090A0A;
}

#map {
  position:absolute;
  top: 20px;
  left: 20px;
}

#map > .system {
  position:absolute;
  width: 20px;
  height: 20px;
  background-color: #EFEFEF;
  border-radius: 10px;
}

#minimap {
  position: fixed;
  width: 200px;
  height: 200px;
  top:0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
}

#minimap > .system {
  position:absolute;
  width: 1px;
  height: 1px;
  background-color: #EFEFEF;
}

#system {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#star {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #EFEFEF;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

#system > .orbit {
  position: absolute;
  border: 1px solid #565656;
  border-radius: 5000px;
  z-index: 5;
}

#system > .faction-flag {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 7;
  opacity: 0.6;
}

#system > .planet {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
  border: 1px solid #222;
}

#system > .faction-flag {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

#system > .planet[data-type="arctic"] { background-color: #B0B0FF;border: 2px solid #B0B0FF; }
#system > .planet[data-type="desert"] { background-color: #f5cc4d;border: 2px solid #f5cc4d; }
#system > .planet[data-type="oceanic"] { background-color: #0077be;border: 2px solid #0077be; }
#system > .planet[data-type="temperate"] { background-color: #00b300;border: 2px solid #00b300; }
#system > .planet[data-type="tropical"] { background-color: #008000;border: 2px solid #008000; }
#system > .planet[data-type="rocky"] { background-color: #AA9a9a;border: 2px solid #AA9a9a; }
#system > .planet[data-type="volcanic"] { background-color: #C60000;border: 2px solid #C60000; }

#map-link {
  padding-top: 60px;
  padding-left: 20px;
}

#map-link > a {
  color: #E1BB8A;
  text-decoration: none;
}
