html {
  width:100%;
  height: 100%;
  overflow: hidden;
  background-color: #090A0A;
}

#map {
  position:absolute;
  top: 20px;
  left: 20px;
}

#map > .system {
  position:absolute;
  width: 20px;
  height: 20px;
  background-color: #EFEFEF;
  border-radius: 10px;
}

#map > .fleet-location {
    border: 4px solid #09b309;
    border-radius: 100px;
}

#map > .fleet-location-target{
    position:absolute;
    background-color: #ffffff00;
    border-radius: 30px;
    border : 2px solid #EFEFEF;
    width: 30px;
    height: 30px;
    -webkit-animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}


#map > .fleet-location-target > div {
    position:absolute;
    background-color: #EFEFEF;
}
#map > .fleet-location-target > .north {
     width : 2px;
     height : 10px;
     left : 14px;
     top:-7px;
}

#map > .fleet-location-target > .south {
     width : 2px;
     height : 10px;
     left : 14px;
     top:27px;
}

#map > .fleet-location-target > .west {
     width : 10px;
     height : 2px;
     left : -7px;
     top:14px;
}

#map > .fleet-location-target > .east {
    width : 10px;
     height : 2px;
     left : 27px;
     top:14px;
}

#map div.line{
    height: 8px;
    z-index: -1;
    animation: line 3s linear infinite;
    background-image: url(../../static/images/map/line_step.png);
}

#map > .range-circle {
    border-radius: 10000px;
    background-color: #ffffff00;
    border-color: darkgray;
    border-style: dashed;
    -webkit-animation: rotation 100s infinite linear;
    position: absolute;
}

@keyframes line {
  from {
    background-position: -56px 0px;
  }
  to {
    background-position: 0px 0px;
  }
}

#minimap {
  position: fixed;
  width: 200px;
  height: 200px;
  top:0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
}

#minimap > .system {
  position:absolute;
  width: 1px;
  height: 1px;
  background-color: #EFEFEF;
}

#system {
    position: relative;
    grid-column: 1/10;
    grid-row: 2/10;
  overflow: hidden;
}

#star {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #EFEFEF;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

#system > .orbit {
  position: absolute;
  border: 1px solid #565656;
  border-radius: 5000px;
  z-index: 5;
}

#system > .faction-flag {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 7;
  opacity: 0.6;
}

#system > .planet {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
  border: 1px solid #222;
}

#system > .faction-flag {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

#system > .planet[data-type="arctic"] { background-color: #B0B0FF;border: 2px solid #B0B0FF; }
#system > .planet[data-type="desert"] { background-color: #f5cc4d;border: 2px solid #f5cc4d; }
#system > .planet[data-type="oceanic"] { background-color: #0077be;border: 2px solid #0077be; }
#system > .planet[data-type="temperate"] { background-color: #00b300;border: 2px solid #00b300; }
#system > .planet[data-type="tropical"] { background-color: #008000;border: 2px solid #008000; }
#system > .planet[data-type="rocky"] { background-color: #AA9a9a;border: 2px solid #AA9a9a; }
#system > .planet[data-type="volcanic"] { background-color: #C60000;border: 2px solid #C60000; }

#map-link {
    grid-column: 1;
    grid-row: 5;
  padding-left: 20px;
}

#map-link > a {
  color: #E1BB8A;
  text-decoration: none;
}
