#player {
  display: flex;
  grid-column: 2/6;
  grid-row: 2/10;
}

#profile {
  margin-left: 20px;
  margin-right: 40px;
}

#profile > .faction-name > a {
    display: flex;
    color: #E1BB8A;
    text-decoration: none;
}

#profile > .faction-name > a > .faction-flag {
    margin-right: 20px;
}

#planets {
  margin-top: 50px;
  z-index: 2;
}

#planets > section {
  display:flex;
  margin-top: 40px;
  justify-content: space-around;
}

#planets > section > .planet {
  text-align:center;
}

#planets > section > .planet > .shape {
  width: 200px;
  height: 200px;
  background-size: cover;
  box-shadow: none;
}