#player {
  display: flex;
  grid-column: 2/6;
  grid-row: 2/10;
}

#profile {
  margin-left: 20px;
  margin-right: 40px;
}

#profile > .faction-name > a {
    display: flex;
    color: #E1BB8A;
    text-decoration: none;
}

#profile > .faction-name > a > .faction-flag {
    margin-right: 20px;
}

#planets {
  margin-top: 50px;
}

#planets > section {
  display:flex;
  margin-top: 40px;
  justify-content: space-around;
}

#planets > section > .planet {
  text-align:center;
}

#planets > section > .planet > .shape {
  width: 200px;
  height: 200px;
  background-size: cover;
  box-shadow: none;
}

.resource-button {
    border-radius: 1000px;
    border-color: #EFEFEF;
    border-style: solid;
    border-width: 5px;
    color: #EFEFEF;
    font-variant: small-caps;
    font-family: Electrolize, sans-serif;
}

.resource-button:hover {
    background-color: #EFEFEF;
    color: #090A0A;
}

.resource-button > a {
    text-decoration: none;
    color: #EFEFEF;
}

.resource-button > a:hover {
    color:#090A0A;
}
