#planet {
  position: absolute;
  width: 300px;
  height: 300px;
  display: none;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#planet-data {
  position: absolute;
  top: 200px;
  padding-left: 20px;
}

#planet-data > h4 {
  margin: 0px;
}

#planet-data > .system > a {
  color: #8AF;
  text-decoration: none;
}

#planet-data > .resources {
  list-style-type: none;
  padding-left:0px;
}

#planet-data > .resources > li > em {
  display: inline-block;
  width: 15px;
}

#planet-data > .resources > li > strong {
  display: inline-block;
  width: 60px;
}

#planet-data > .resources > li > span {
  color: #00D000;
}

@media all and (max-width: 500px) {
  #planet-data {
    top: 50px;
  }
}

.shape {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background-size: 100%;
  box-shadow: 0px 0px 50px rgba(200, 200, 255, 0.8);
}

.shape:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.shape:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 30%, rgba(245, 237, 48, 0), rgba(200, 190, 20, 0) 50%, #222 100%);
}
.shape .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.2) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }

.shape[data-type="arctic"] {
  background: url('../images/planet_type_arctic.png') no-repeat;
}
.shape[data-type="desert"] {
  background: url('https://thumbs-prod.si-cdn.com/2bwj3CJjdzY5JWf8qQPqmQZTyT0=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/4e/86/4e86b49b-bfc0-442a-8bf2-47f386b53313/screen_shot_2014-01-08_at_125812_pm.png') no-repeat;
}
.shape[data-type="oceanic"] {
  background: url('http://www.floorbros.com/media/catalog/Carpet_Tiles/Forbo_Carpet/Flotex_Calgary_20_x_20/Azure_T590015.jpg') no-repeat;
}
.shape[data-type="desert"] {
  background: url('http://mississippiriverdelta.org/files/2016/07/Copy-of-IMG_6504-720x480.jpg') no-repeat;
}
.shape[data-type="tropical"] {
  background: url('https://upload.wikimedia.org/wikipedia/commons/3/3b/Satellite_image_of_Bangladesh_in_October_2001.jpg') no-repeat;
}
.shape[data-type="rocky"] {
  background: url('https://www.textures.com/system/gallery/photos/Rock/Sediment/50887/RockSediment0012_1_download600.jpg') no-repeat;
}
.shape[data-type="volcanic"] {
  background: url('http://spiralgraphics.biz/packs/terrain_volcanic_gaseous/previews/Lava%20Cracks.jpg') no-repeat;
  box-shadow: 0px 0px 50px rgba(200, 0, 0, 0.8);
}
.shape[data-type="volcanic"]:before {
  background: radial-gradient(circle at 50% 0px, rgba(50, 50, 50, 0.6), rgba(255, 255, 255, 0) 58%);
}
