#planet {
  position: absolute;
  width: 300px;
  height: 300px;
  display: none;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#planet-data {
  position: absolute;
  top: 100px;
  left: 20px;
}

#planet-data > h4 {
  margin: 0px;
}

#planet-data > .system > a {
  color: #8AF;
  text-decoration: none;
}

#planet-data > .resources {
  list-style-type: none;
  padding-left:0px;
}

#planet-data > .resources > li {
  display:flex;
  align-items: center;
}

#planet-data > .resources > li > em {
  display: inline-block;
  min-width: 15px;
  padding-right: 10px;
}

#planet-data > .resources > li > .density {
  font-weight: bold;
}

#planet-data > .resources > li > .density > img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
#planet-data > .resources > li > span {
  color: #00D000;
}

#planet-relations {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 400px;
  left: 20px;
}

#planet-buildings {
  display:flex;
  justify-content: space-around;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 150px);
  width: 300px;
  margin:auto;
}

#planet-buildings > .building {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    background-size: 54px 54px;
    background-position: 5px 5px;
    cursor: pointer;
}

#planet-buildings > .building.techno {
  background-color: rgba(0, 0, 0, 0.4);
}

#planet-buildings > .building.techno {
  background-color: rgba(225, 150, 225, 0.8);
}

#planet-buildings > .building.area {
    background-image: url('/static/images/buildings/area.png');
}

#buildings-modal {
    position: absolute;
    display: none;
    top: 20%;
    left: calc(50% - 200px);
    width: 400px;
    background-color: #222;
    z-index: 2;
    color: #222;
}

#buildings-modal.visible {
    display: block;
}

#buildings-modal > section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#buildings-modal > section > .building {
    width: 76px;
    height: 76px;
    margin: 20px;
    background-color: #EFEFEF;
}

/* Tooltip container */
#buildings-modal > section > .building > .tooltip {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#buildings-modal > section > .building > .tooltip .tooltiptext {
    display: none;
    background-color: black;
    color: #fff;
    padding-right: 20px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 105%;
    z-index: 1;
}

#buildings-modal > section > .building > .tooltip .tooltiptext li {
    display: flex;
    align-items: center;
}

#buildings-modal > section > .building > .tooltip .tooltiptext li > img {
    width: 16px;
    height: 16px;
}

/* Show the tooltip text when you mouse over the tooltip container */
#buildings-modal > section > .building > .tooltip:hover .tooltiptext {
    display: block;
}

#buildings-overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

#buildings-overlay.visible {
    display: block;
}

@media all and (max-width: 500px) {
  #planet-data {
    top: 50px;
  }
}

.shape {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background-size: 100%;
  box-shadow: 0px 0px 50px rgba(200, 200, 255, 0.8);
}

.shape:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.shape:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 30%, rgba(245, 237, 48, 0), rgba(200, 190, 20, 0) 50%, #222 100%);
}
.shape .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.2) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }

.shape[data-type="arctic"] {
  background: url('../images/planet_type_arctic.png') no-repeat;
}
.shape[data-type="desert"] {
  background: url('https://thumbs-prod.si-cdn.com/2bwj3CJjdzY5JWf8qQPqmQZTyT0=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/4e/86/4e86b49b-bfc0-442a-8bf2-47f386b53313/screen_shot_2014-01-08_at_125812_pm.png') no-repeat;
}
.shape[data-type="oceanic"] {
  background: url('../images/planet_type_oceanic.png') no-repeat;
}
.shape[data-type="temperate"] {
  background: url('http://mississippiriverdelta.org/files/2016/07/Copy-of-IMG_6504-720x480.jpg') no-repeat;
}
.shape[data-type="tropical"] {
  background: url('https://upload.wikimedia.org/wikipedia/commons/3/3b/Satellite_image_of_Bangladesh_in_October_2001.jpg') no-repeat;
}
.shape[data-type="rocky"] {
  background: url('https://www.textures.com/system/gallery/photos/Rock/Sediment/50887/RockSediment0012_1_download600.jpg') no-repeat;
}
.shape[data-type="volcanic"] {
  background: url('http://spiralgraphics.biz/packs/terrain_volcanic_gaseous/previews/Lava%20Cracks.jpg') no-repeat;
  box-shadow: 0px 0px 50px rgba(200, 0, 0, 0.8);
}
.shape[data-type="volcanic"]:before {
  background: radial-gradient(circle at 50% 0px, rgba(50, 50, 50, 0.6), rgba(255, 255, 255, 0) 58%);
}
