#player {
  display: flex;
}

#profile {
  width: 300px;
  margin-left: 20px;
}

#profile > .faction-name > a {
    display: flex;
    align-items: center;
    color: #8AF;
    text-decoration: none;
}

#profile > .faction-name > a > .faction-flag {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    border-radius: 40px;
    border: 2px solid #EFEFEF;
}

#planets {
  margin-top: 50px;
}

#planets > section {
  display:flex;
  margin-top: 40px;
  justify-content: space-around;
}

#planets > section > .planet {
  text-align:center;
}

#planets > section > .planet > .shape {
  width: 200px;
  height: 200px;
  background-size: cover;
  box-shadow: none;
}
