html,
body {
  height: 100%;
}

#registration {
  display: flex;
  height: 100%;
}

#profile {
  width: 300px;
  height: 100%;
  background: black;
}

#start-choices {
  width: 100%;
  margin-top: 40px;
  margin-left: 20px;
}

#start-choices > header > h1 {
  text-align:center;
}

#factions {
  display: flex;
  text-align:center;
  justify-content:center;
}

#factions > .faction {
  width: 200px;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: rgba(0,0,0,0.6);
  cursor:pointer;
  transition: background-color 0.2s ease-out;
}

#factions > .faction.selected {
  background-color: #48C;
}

#descriptions {
  border-top: 2px solid #EFEFEF;
  margin-top: 40px;
  padding-top: 20px;
}

#descriptions > .description {
  display:none;
  opacity:0;
  text-align:center;
  transition: opacity 0.2s ease-out;
}

#descriptions > .description.active {
  display:block;
  opacity:1;
}

#start-choices > footer {
  margin-top: 20px;
  text-align:center;
}

#planets {
  display: flex;
  min-height: 300px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#planets .shape {
  width: 200px;
  height: 200px;
  box-shadow: none;
  background-size: cover;
  transition: width 0.4s ease-out, height 0.4s ease-out;
  cursor: pointer;
}

#planets .shape.selected {
  width: 300px;
  height: 300px;
}

.description > section {
  display: flex;
  justify-content: space-around;
}

.resources {
  margin-left: 20px;
}

.resources > h4 {
  text-align:left;
}

.resources > ul {
  list-style-type: none;
  padding-left: 0px;
}

.resources > ul > li {
  display: flex;
  align-items: center;
}

.resources > ul > li > em {
  padding-right: 10px;
}

.resources > ul > li img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.relations {
  width: 300px;
  height: 300px;
}
