html, body {
    width: 100%;
    height: 100%;
}

#ship-constructions-list {
    grid-column: 1;
    grid-row: 2/5;
    display: none;
    padding-left: 20px;
}

#ship-constructions-list > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-variant: small-caps;
}

#ship-constructions-list > header > .population-points > .industry-point {
    margin-left: 10px;
}

#ship-constructions-list > section > .ship {
    background-color: #010F2A;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#ship-constructions-list > section > .ship > header {
    display: flex;
    align-items: center;
    font-variant: small-caps;
    padding-bottom: 10px;
    border-bottom: 1px solid #EFEFEF;
}

#ship-constructions-list > section > .ship > header > h5 {
    color: #E1BB81;
    padding-right: 20px;
    margin: 0px;
    font-size: 0.9em;
}

#ship-constructions-list > section > .ship > header > span {
    font-size: 0.8em;
}

#ship-constructions-list > section > .ship > section > .points {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

#ship-constructions-list > section > .ship > section > .points > .progressbar {
    flex-grow: 2;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #222;
}
#ship-constructions-list > section > .ship > section > .points > .progressbar > div {
    flex-grow: 2;
    background-color: #EFEFEF;
    height: 100%;
}
#ship-constructions-list > section > .ship > section > .points > .industry-point {
    margin-left: 5px;
}

#ships-list {
    grid-column: 2/6;
    grid-row: 2/5;
    z-index: 10;
}

#ships-list > header {
    margin-left: 10px;
}

#ships-list > header > button {
    display: flex;
    align-items: center;
    color: #EFEFEF;
    font-size: 1.2em;
    padding: 0px;
    border: none;
    cursor: pointer;
    border: 1px solid #EFEFEF;
    background-color: #303050;
    transition: background-color 0.2s ease-out;
}

#ships-list > header > button:hover {
    background-color: #404060;
}

#ships-list > header > button > span {
    padding-right: 20px;
}

#ships-list > header > button > img {
    height: 40px;
    margin: 10px;
}

#ships-list > section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#ships-list > section > .ship-model {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    border: 1px solid #EFEFEF;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}
#ships-list > section > .ship-model.fighter {
    background-color: rgba(75, 0, 0, 0.6);
}
#ships-list > section > .ship-model.fighter:hover {
    background-color: rgba(100, 0, 0, 0.6);
}
#ships-list > section > .ship-model.corvette {
    background-color: rgba(75, 0, 50, 0.6);
}
#ships-list > section > .ship-model.corvette:hover {
    background-color: rgba(100, 0, 75, 0.6);
}
#ships-list > section > .ship-model.freighter {
    background-color: rgba(0, 75, 0, 0.6);
}
#ships-list > section > .ship-model.freighter:hover {
    background-color: rgba(0, 100, 0, 0.6);
}

#ships-list > section > .ship-model > header {
    font-size: 6em;
    text-align: center;
    height: 120px;
}


#ships-list > section > .ship-model > header > img {
    width: 100%;
}

#ships-list > section > .ship-model > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ships-list > section > .ship-model > footer > h5 {
    margin: 0px;
}

#ship-conception {
    grid-column: 2/6;
    grid-row: 2/5;
    display: none;
    width: 100%;
}

#ship-construction {
    grid-column: 2/6;
    grid-row: 2/5;
    display: none;
    margin-right: 40px;
}

#ship-construction > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E1BB81;
}

#ship-construction > header > h1 > span {
    padding-left: 20px;
    font-size: 0.5em;
    color: #E1BB81;
}

#ship-construction > header > div {

}

#ship-construction > header > div > button {
    height: 35px;
    border: 1px solid #EFEFEF;
    color: #E1BB81;
    font-variant: small-caps;
    font-size: 1.1em;
    background-color: #010F2A;
    margin-left: 10px;
    margin-right: 20px;
}

#ship-construction > header > div > input {
    height: 35px;
    background-color: #010F2A;
    border: none;
    border-bottom: 1px solid #EFEFEF;
    color: #E1BB81;
}

#ship-construction > section {
    display: flex;
}

#ship-construction > section {
    flex-basis: 30%;
}

#ship-construction > section > header > div > .module {
    background-color: #010F2A;
    padding: 10px 20px;
    margin-top: 20px;
    border-left: 2px solid #E1BB81;
}

#ship-construction > section > header > div > .module > header {
    padding-bottom: 10px;
    border-bottom: 2px solid #EFEFEF;
}

#ship-construction > section > header > div > .module > header > h4 {
    margin: 0px;
}

#ship-construction > section > header > div > .module > section {
    display: flex;
    align-items: center;
}

#ship-construction > section > header > div > .module > section > .stat {
    text-align: center;
    margin-right: 15px;
}

#ship-construction > section > header > div > .module > section > .stat > header {
    color: #E1BB81;
    font-variant: small-caps;
}

#ship-construction > section > section {
    flex-basis: 65%;
    margin-left: 20px;
}


#ship-construction > section > section > div:first-child > section > img {
    width: 100%;
}

#ship-construction > section > section > div:last-child {
    display: flex;
    margin-top: 30px;
}

#ship-construction > section > section > div:last-child > header {
    flex-basis: 50%;
}

#ship-construction > section > section > div:last-child > header > div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}

#ship-construction > section > section > div:last-child > header > div > .stat {
    padding: 10px;
    background-color: #010F2A;
    margin: 5px;
}

#ship-construction > section > section > div:last-child > header > div > .stat > header {
    font-variant: small-caps;
}

#ship-construction > section > section > div:last-child > header > div > .stat > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E1BB81;
}

#ship-construction > section > section > div:last-child > section {
    align-self: flex-start;
    flex-basis: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

#ship-construction > section > section > div:last-child > section > div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

#ship-construction > section > section > div:last-child > section > div > .price {
    padding: 10px;
    background-color: #010F2A;
    margin: 5px;
}

#ship-construction > section > section > div:last-child > section > div > .price > header {
    font-variant: small-caps;
}

#ship-construction > section > section > div:last-child > section > div > .price > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E1BB81;
}

#ship-construction > section > section > div:last-child > section > div > .price > section > img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

#frames {
    display: none;
    font-variant: small-caps;
}

#frames > header > h3 {
    margin-left: 20px;
    color: #E1BB8A;
}

#frames > section {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

#frames > section > .frame {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: rgba(50,50,75,0.6);
    border: 2px solid #AAA;
    border-radius: 5px;
    cursor: pointer;
}
#frames > section > .frame.selected {
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.8);
}

#frames > section > .frame > header {
    font-size: 6em;
    text-align: center;
    height: 120px;
}

#frames > section > .frame > header > img {
    width: 100%;
}

#frames > section > .frame > footer {
    text-align: right;
}

#ship-vizualizer {
    display: none;
    width: 90%;
    margin: auto;
    margin-top: 0px;
}

#ship-vizualizer > header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#ship-stats {
    display: flex;
    align-items: center;
    font-variant: small-caps;
}

#ship-stats > .stat,
#modules > footer > .stat {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #010F2A;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

#ship-stats > .stat > section,
#modules > footer > .stat > section {
    font-size: 2em;
    color: #E1BB8A;
}

#ship-vizualizer > header > h3 {
    margin-left: 20px;
    font-variant: small-caps;
    color: #E1BB8A;
}

#ship-vizualizer > section {
    position: relative;
    margin: auto;
    margin-top: 50px;
}

#ship-image {
    width: 100%;
}

#ship-image > img {
    width: 100%;
}

#ship-vizualizer > section > .slot {
    position: absolute;
    border: 2px solid #AAA;
    background-color: rgba(50,50,75,0.6);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#ship-vizualizer > section > .slot.selected {
    background-color: rgba(100,100,175,0.8);
    border: 2px solid #E1BB8A;
}

#ship-vizualizer > section > .slot[data-type="weapon"] {
    background-color: rgba(255,0,0,0.6);
}

#ship-vizualizer > section > .slot[data-type="engine"] {
    background-color: rgba(200, 175, 100, 0.6);
}

#ship-vizualizer > section > .slot[data-type="shield"] {
    background-color: rgba(0,0,200,0.6);
}

#ship-vizualizer > section > .slot[data-type="cargo"] {
    background-color: rgba(0,200,0,0.6);
}

#ship-vizualizer > section > .slot[data-shape="circle"][data-size="small"] {
    width: 4%;
    height: 20%;
    background-size: 70%;
    border-radius: 40px;
}
#ship-vizualizer > section > .slot[data-shape="circle"][data-size="medium"] {
    width: 80px;
    height: 80px;
    background-size: 60px;
    border-radius: 50px;
}
#ship-vizualizer > section > .slot[data-shape="circle"][data-size="large"] {
    width: 100px;
    height: 100px;
    background-size: 80px;
    border-radius: 60px;
}

#ship-vizualizer > section > .slot[data-shape="square"][data-size="small"] {
    width: 4%;
    height: 20%;
    background-size: 70%;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="square"][data-size="medium"] {
    width: 5%;
    height: 25%;
    background-size: 70%;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="square"][data-size="large"] {
    width: 100px;
    height: 100px;
    background-size: 80px;
    border-radius: 5px;
}

#ship-vizualizer > section > .slot[data-shape="rectangle"][data-size="small"] {
    width: 5%;
    height: 20%;
    background-size: 90%;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="rectangle"][data-size="medium"] {
    width: 10%;
    height: 25%;
    background-size: 50%;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="rectangle"][data-size="large"] {
    width: 120px;
    height: 100px;
    background-size: 80px;
    border-radius: 5px;
}

#ship-vizualizer > footer {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

#ship-data {
    grid-column: 1;
    grid-row: 2/5;
    display: none;
    flex-grow: 1;
    border: 1px solid #EFEFEF;
}

#ship-data > header > input {
    width: 100%;
    height: 40px;
    font-size: 1.3em;
    color: #EFEFEF;
    background: none;
    border: none;
    border-bottom: 1px solid #EFEFEF;
}

#ship-data > section ,
#ship-data > footer {
    padding: 20px;
}

#ship-data > section > .list,
#modules > header > .list {
    display: flex;
    flex-wrap: wrap;
}

#ship-data > section > .list > .price,
#modules > header > .list > .price {
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    border: #EFEFEF 1px solid;
    border-radius: 5px;
    background-color: #010F2A;
}

#ship-data > section > .list > .price > header,
#modules > header > .list > .price > header {
    text-align: center;
    color: #E1BB81;
}

#ship-data > section > .list > .price > section,
#modules > header > .list > .price > section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#ship-data > section > .list > .price > section > img,
#modules > header > .list > .price > section > img {
    width: 42px;
    height: 42px;
    margin: 5px;
}

#ship-data > footer > button {
    padding: 10px 20px;
    color: #EFEFEF;
    font-size: 1.1em;
    text-align: center;
    background-color: #010F2A;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    cursor: pointer;
}

#modules {
    display: none;
    grid-column: 1/6;
    grid-row: 5/7;
    background-color: rgba(75, 75, 100, 0.4);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    border-top: 2px solid #010F2A;
}

#modules > header {
    width: 30%;
}

#modules > header > h3 {
    margin: 0px;
}

#modules > header > h3:not(:empty) {
    position: relative;
    max-width: calc(100% - 60px);
    height: 30px;
    padding: 5px 0px 5px 15px;
    background-color: #010F2A;
    border-bottom: 3px solid #E1BB8A;
}

#modules > header > h3:not(:empty):after {
    width: 0px;
    height: 0px;
    content: '';
    position: absolute;
    right: -40px;
    bottom: 0px;
    border-left: 20px solid #010F2A;
    border-top: 20px solid #010F2A;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

#modules > section {
    width: 40%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#modules > section > .module {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    text-align: center;
    font-size: 5em;
    cursor: pointer;
}

#modules > section > .module > div {
    border: 2px solid #EFEFEF;
}

#modules > section > .module:hover > div {
    border: 2px solid #E1BB8A;
}

#modules > section > .module[data-type="weapon"] > div {
    background-color: rgba(255,0,0,0.6);;
}

#modules > section > .module[data-type="engine"] > div {
    background-color: rgba(200, 175, 100, 0.6);
}

#modules > section > .module[data-type="shield"] > div {
    background-color: rgba(0,0,200,0.6);
}

#modules > section > .module[data-type="cargo"] > div {
    background-color: rgba(0,200,0,0.6);
}

#modules > section > .module > .circle {
    width: 80px;
    height: 80px;
    background-image: url(/static/images/shipyard/module.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border-radius: 60px;
}

#modules > section > .module > .square {
    width: 80px;
    height: 80px;
    background-image: url(/static/images/shipyard/module.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border-radius: 5px;
}

#modules > section > .module > .rectangle {
    width: 100px;
    height: 80px;
    background-image: url(/static/images/shipyard/module.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border-radius: 5px;
}

#modules > section > .module > .hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0px;
  background-image: url(/static/images/shipyard/module.png);
  background-size: auto 115.4701px;
  background-position: center;
}

#modules > section > .module > .hexagon > .hexTop,
#modules > section > .module > .hexagon > .hexBottom {
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 14.64px;
}

/*counter transform the bg image on the caps*/
#modules > section > .module > .hexagon > .hexTop:after,
#modules > section > .module > .hexagon > .hexBottom:after {
  content: "";
  position: absolute;
  width: 100.0000px;
  height: 57.73502691896258px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

#modules > section > .module > .hexagon > .hexTop {
  top: -35.3553px;
}

#modules > section > .module > .hexagon > .hexTop:after {
  background-position: center top;
}

#modules > section > .module > .hexagon > .hexBottom {
  bottom: -35.3553px;
}

#modules > section > .module > .hexagon > .hexBottom:after {
  background-position: center bottom;
}

#modules > section > .module > .hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 100.0000px;
  height: 57.7350px;
  z-index: 2;
  background: inherit;
}

#modules > footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 1200px) {

    #ship-conception {
        grid-column: 1/6;
        grid-row: 2/5;
    }

    #ship-construction {
        grid-column: 1/6;
        grid-row: 2/5;
        margin-left: 20px;
        margin-right: 20px;
    }

    #ship-data {
        grid-column: 1/3;
        grid-row: 5/7;
    }

    #ship-data > footer > button {
        font-size: 0.8em;
    }

    #ship-stats > .stat {
        font-size: 0.6em;
    }

    #modules {
        display: none;
        grid-column: 3/6;
        grid-row: 5/7;
        flex-direction: column;
    }

    #modules > header {
        width: auto;
        height: 150px;
    }

    #ship-data > section > .list > .price,
    #modules > header > .list > .price {
        font-size: 0.8em;
    }
    #ship-data > section > .list > .price > section > img,
    #modules > header > .list > .price > section > img {
        width: 32px;
        height: 32px;
        margin: 5px;
    }

    #modules > section {
        width: auto;
        margin-left: 20px;
    }

    #modules > section > .module {
        width: 70px;
        height: 70px;
        margin-right: 5px;
        font-size: 3em;
    }

    #modules > section > .module > div {
        border: 1px solid #EFEFEF;
    }

    #modules > section > .module:hover > div {
        border: 1px solid #E1BB8A;
    }

    #modules > section > .module > .circle {
        width: 50px;
        height: 50px;
        background-size: 35px;
        border-radius: 60px;
    }

    #modules > section > .module > .square {
        width: 50px;
        height: 50px;
        background-size: 35px;
        border-radius: 5px;
    }

    #modules > section > .module > .rectangle {
        width: 60px;
        height: 50px;
        background-size: 35px;
        border-radius: 5px;
    }

    #modules > footer {
        margin-left: 20px;
    }

    #modules > footer > .stat {
        font-size: 0.6em;
        margin: 0px;
        margin-right: 10px;
    }

    #ship-constructions-list {
        grid-column: 1/6;
        grid-row: 1;
        display: none;
        padding-left: 20px;
        margin-top: 60px;
    }

    #ship-constructions-list > header {
        margin-right: 20px;
    }

    #ship-constructions-list > section {
        display: flex;
    }
}
