#shipyard {
    display: flex;
    margin: 100px;

}

#ships-list {
    grid-column: 1;
    grid-row: 2/5;
    width: 200px;
}

#ships-list > header > button {
    width: 100%;
    padding: 0px;
    border: none;
    cursor: pointer;
    border: 1px solid #EFEFEF;
    background-color: #303050;
    transition: background-color 0.2s ease-out;
}

#ships-list > header > button:hover {
    background-color: #404060;
}

#ships-list > header > button > img {
    height: 150px;
}

#ships-list > section {

}

#ships-list > section > .ship {
    height: 150px;
    padding: 10px;
    background-color: rgba(50,50,75,0.6);
    border: 1px solid #EFEFEF;
}

#ships-list > section > .ship > header {
    font-size: 6em;
    text-align: center;
    height: 120px;
}


#ships-list > section > .ship > header > img {
    width: 100%;
}

#ships-list > section > .ship > footer {
    text-align: right;
}

#ship-conception {
    grid-column: 2/5;
    grid-row: 2/5;
    display: flex;
    width: 100%;
}

#frames {
    display: none;
    font-variant: small-caps;
}

#frames > header > h3 {
    margin-left: 20px;
    color: #E1BB8A;
}

#frames > section {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

#frames > section > .frame {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: rgba(50,50,75,0.6);
    border: 2px solid #AAA;
    border-radius: 5px;
    cursor: pointer;
}
#frames > section > .frame.selected {
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.8);
}

#frames > section > .frame > header {
    font-size: 6em;
    text-align: center;
    height: 120px;
}

#frames > section > .frame > header > img {
    width: 100%;
}

#frames > section > .frame > footer {
    text-align: right;
}

#ship-vizualizer {
    display: none;
    flex-grow: 2;
}

#ship-vizualizer > header > h3 {
    margin-left: 20px;
    font-variant: small-caps;
    color: #E1BB8A;
}

#ship-vizualizer > section {
    position: relative;
    height: 400px;
    margin: auto;
    margin-top: 100px;
}

#ship-image {
    width: 90%;
    margin: auto;
    font-size: 10em;
    text-align: center;
}

#ship-image > img {
    width: 100%;
}

#ship-vizualizer > section > .slot {
    position: absolute;
    border: 2px solid #AAA;
    background-color: rgba(50,50,75,0.6);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#ship-vizualizer > section > .slot.selected {
    background-color: rgba(100,100,175,0.8);
    border: 2px solid #E1BB8A;
}

#ship-vizualizer > section > .slot[data-type="weapon"] {
    background-color: rgba(255,0,0,0.6);
}

#ship-vizualizer > section > .slot[data-type="engine"] {
    background-color: rgba(200, 175, 100, 0.6);
}

#ship-vizualizer > section > .slot[data-type="shield"] {
    background-color: rgba(0,0,200,0.6);
}

#ship-vizualizer > section > .slot[data-type="cargo"] {
    background-color: rgba(0,200,0,0.6);
}

#ship-vizualizer > section > .slot[data-shape="circle"][data-size="small"] {
    width: 60px;
    height: 60px;
    background-size: 50px;
    border-radius: 40px;
}
#ship-vizualizer > section > .slot[data-shape="circle"][data-size="medium"] {
    width: 80px;
    height: 80px;
    background-size: 60px;
    border-radius: 50px;
}
#ship-vizualizer > section > .slot[data-shape="circle"][data-size="large"] {
    width: 100px;
    height: 100px;
    background-size: 80px;
    border-radius: 60px;
}

#ship-vizualizer > section > .slot[data-shape="square"][data-size="small"] {
    width: 60px;
    height: 60px;
    background-size: 50px;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="square"][data-size="medium"] {
    width: 80px;
    height: 80px;
    background-size: 60px;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="square"][data-size="large"] {
    width: 100px;
    height: 100px;
    background-size: 80px;
    border-radius: 5px;
}

#ship-vizualizer > section > .slot[data-shape="rectangle"][data-size="small"] {
    width: 80px;
    height: 60px;
    background-size: 50px;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="rectangle"][data-size="medium"] {
    width: 100px;
    height: 80px;
    background-size: 60px;
    border-radius: 5px;
}
#ship-vizualizer > section > .slot[data-shape="rectangle"][data-size="large"] {
    width: 120px;
    height: 100px;
    background-size: 80px;
    border-radius: 5px;
}

#ship-vizualizer > footer {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

#ship-vizualizer > footer > .module {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    text-align: center;
    font-size: 5em;
    cursor: pointer;
}

#ship-vizualizer > footer > .module > div {
    border: 2px solid #EFEFEF;
}

#ship-vizualizer > footer > .module:hover > div {
    border: 2px solid #E1BB8A;
}

#ship-vizualizer > footer > .module[data-type="weapon"] > div {
    background-color: rgba(255,0,0,0.6);;
}

#ship-vizualizer > footer > .module[data-type="engine"] > div {
    background-color: rgba(200, 175, 100, 0.6);
}

#ship-vizualizer > footer > .module[data-type="shield"] > div {
    background-color: rgba(0,0,200,0.6);
}

#ship-vizualizer > footer > .module[data-type="cargo"] > div {
    background-color: rgba(0,200,0,0.6);
}

#ship-vizualizer > footer > .module > .circle {
    width: 80px;
    height: 80px;
    background-image: url(/static/images/shipyard/module.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border-radius: 60px;
}

#ship-vizualizer > footer > .module > .square {
    width: 80px;
    height: 80px;
    background-image: url(/static/images/shipyard/module.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border-radius: 5px;
}

#ship-vizualizer > footer > .module > .rectangle {
    width: 100px;
    height: 80px;
    background-image: url(/static/images/shipyard/module.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border-radius: 5px;
}

#ship-vizualizer > footer > .module > .hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0px;
  background-image: url(/static/images/shipyard/module.png);
  background-size: auto 115.4701px;
  background-position: center;
}

#ship-vizualizer > footer > .module > .hexagon > .hexTop,
#ship-vizualizer > footer > .module > .hexagon > .hexBottom {
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 14.64px;
}

/*counter transform the bg image on the caps*/
#ship-vizualizer > footer > .module > .hexagon > .hexTop:after,
#ship-vizualizer > footer > .module > .hexagon > .hexBottom:after {
  content: "";
  position: absolute;
  width: 100.0000px;
  height: 57.73502691896258px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

#ship-vizualizer > footer > .module > .hexagon > .hexTop {
  top: -35.3553px;
}

#ship-vizualizer > footer > .module > .hexagon > .hexTop:after {
  background-position: center top;
}

#ship-vizualizer > footer > .module > .hexagon > .hexBottom {
  bottom: -35.3553px;
}

#ship-vizualizer > footer > .module > .hexagon > .hexBottom:after {
  background-position: center bottom;
}

#ship-vizualizer > footer > .module > .hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 100.0000px;
  height: 57.7350px;
  z-index: 2;
  background: inherit;
}

#ship-stats {
    grid-column: 5;
    grid-row: 2/5;
    display: none;
    flex-grow: 1;
    margin: 40px;
    border: 1px solid #EFEFEF;
}

#ship-stats > header > input {
    width: 100%;
    height: 40px;
    font-size: 1.3em;
    color: #EFEFEF;
    background: none;
    border: none;
    border-bottom: 1px solid #EFEFEF;
}

#ship-stats > section ,
#ship-stats > footer {
    padding: 20px;
}

#ship-stats .list {
    display: flex;
    flex-wrap: wrap;
}

#ship-stats .list > .stat {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #010F2A;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

#ship-stats .list > .stat > section {
    font-size: 2em;
    color: #E1BB8A;
}
