#offers-list {
    grid-column: 1/6;
    grid-row: 2/9;
    margin-left: 80px;
    margin-right: 80px;
    font-variant: small-caps;
}

#offers-list > header {
    text-align: center;
}

#offers-list > header > a {
    display: block;
    width: 150px;;
    margin: auto;
    color: #A0A0A0;
    border: 3px solid #E1BB81;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 5px 10px;
    text-decoration: none;
}

#offers-list > section > table {
    width: 100%;
    position: relative;
    background-color: #242424;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

#offers-list > section > table > thead {
    position: relative;
    text-align: center;
    background-color: #E0E0E0;
}

#offers-list > section > table > thead::before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    border-left: 5px solid #1E2024;
    border-top: 5px solid #1E2024;
    border-right: 5px solid #E0E0E0;
    border-bottom: 5px solid #E0E0E0;
}

#offers-list > section > table > thead::after {
    position: absolute;
    content: ' ';
    top: 0px;
    right: 0px;
    border-right: 5px solid #1E2024;
    border-top: 5px solid #1E2024;
    border-left: 5px solid #E0E0E0;
    border-bottom: 5px solid #E0E0E0;
}

#offers-list > section > table > thead > tr > th {
    padding: 5px;
}

#offers-list > section > table > thead > tr > th > img {
    height: 24px;
}

#offers-list > section > table > tbody > tr {
    cursor: pointer;
}

#offers-list > section > table > tbody > tr:hover,
#offers-list > section > table > tbody > tr.selected {
    cursor: pointer;
    border: 1px solid #FF0069;
}

#offers-list > section > table > tbody > tr > td {
    padding: 5px 10px;
}

#offers-list > section > table > tbody > tr > td {
    border-right: 2px solid #242424;
}

#offers-list > section > table > tbody > tr:nth-child(even) {
    background-color: #090A0A;
}

#offers-list > section > table > tbody > tr > td:nth-child(3) > img {
    height: 24px;
}

#offers-list > section > table > tbody > tr > td:nth-child(6) > img {
    height: 16px;
}

#offers-list > section > table > tbody > tr > td:nth-child(6) > div {
    display: inline-block;
    padding-left: 5px;
}

#offers-list > section > table > tbody > tr > td:nth-child(6) > div img {
    height: 12px;
}

#offer-filters {
    position: relative;
    grid-column: 6/10;
    grid-row: 2/5;
    background-color: #090A0A;
}

#offer-filters > header {
    position: relative;
    width: 100%;
}

#offer-filters > header::before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    border-left: 50px solid #1E2024;
    border-top: 50px solid #1E2024;
    border-right: 50px solid #090A0A;
    border-bottom: 50px solid #090A0A;
}

#offer-filters > header::after {
    position: absolute;
    content: ' ';
    top: 0px;
    right: 0px;
    border-right: 10px solid #1E2024;
    border-top: 10px solid #1E2024;
    border-left: 10px solid #090A0A;
    border-bottom: 10px solid #090A0A;
}

#offer-filters > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-left: 10px;
}

#offer-filters #operation-selector {
    background-color: #1E2024;
}

#offer-filters #operation-selector > header {
    position: relative;
    width: 100%;
}

#offer-filters #operation-selector > header::before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    border-left: 5px solid #090A0A;
    border-top: 5px solid #090A0A;
    border-right: 5px solid #1E2024;
    border-bottom: 5px solid #1E2024;
}

#offer-filters #operation-selector > header::after {
    position: absolute;
    content: ' ';
    top: 0px;
    right: 0px;
    border-right: 5px solid #090A0A;
    border-top: 5px solid #090A0A;
    border-left: 5px solid #1E2024;
    border-bottom: 5px solid #1E2024;
}

#offer-filters #operation-selector > section {
    padding: 10px;
}

#offer-filters #operation-selector > section > div {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #A0A0A0;
    border-radius: 10px;
    background-color: #090A0A;
    margin-top: 5px;
    cursor: pointer;
}

#offer-filters #operation-selector > section > div.selected {
    background-color: #A0A0A0;
}

#offer-filters #operation-selector > section > div > span {
    font-variant: small-caps;
    padding-left: 10px;
    padding-right: 10px;
}

#offer-filters #operation-selector > footer {
    position: relative;
    width: 100%;
}


#offer-filters #operation-selector > footer::before {
    position: absolute;
    content: ' ';
    bottom: 0px;
    left: 0px;
    border-right: 5px solid #1E2024;
    border-top: 5px solid #1E2024;
    border-left: 5px solid #090A0A;
    border-bottom: 5px solid #090A0A;
}

#offer-filters #operation-selector > footer::after {
    position: absolute;
    content: ' ';
    bottom: 0px;
    right: 0px;
    border-right: 5px solid #090A0A;
    border-top: 5px solid #1E2024;
    border-left: 5px solid #1E2024;
    border-bottom: 5px solid #090A0A;
}

#offer-filters > footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#offer-filters > footer::before {
    position: absolute;
    content: ' ';
    bottom: 0px;
    right: 0px;
    border-left: 10px solid #090A0A;
    border-bottom: 10px solid #1E2024;
    border-right: 10px solid #1E2024;
    border-top: 10px solid #090A0A;
}

#offer-filters > footer::after {
    position: absolute;
    content: ' ';
    bottom: 0px;
    left: 0px;
    border-right: 10px solid #090A0A;
    border-bottom: 10px solid #1E2024;
    border-left: 10px solid #1E2024;
    border-top: 10px solid #090A0A;
}

#offer-filters > footer::after {

}

#offer-details {
    grid-column: 6/10;
    grid-row: 5/9;
    margin-top: 20px;
    background-color: #090A0A;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    border: 2px solid #FF0069;
    border-radius: 10px 0px 10px 50px;
    z-index: 50;
}

#offer-infos {
    flex-basis: 50%;
    padding: 10px;
}

#offer-infos > header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
}

#offer-infos > header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#offer-infos > header > div > img {
    height: 48px;
}

#offer-infos > section {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#offer-infos #planets > div {
    font-size: 72px;
    padding: 10px;
    border-radius: 100px;
    margin-right: 10px;
    text-align: center;
}

#offer-infos #planets > div:first-child {
    border-top: 2px solid #EFEFEF;
}

#offer-infos #planets > div > img {
    height: 72px;
}

#offer-infos #travel-details {
    position: relative;
    height: 120px;
    width: 200px;
    border: 2px dashed #EFEFEF;
    border-left: none;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

#offer-infos #travel-details .travel-point {
    position: absolute;
    border:5px solid #EFEFEF;
    border-radius: 10px;
}

#offer-details #travel-details img {
    position: absolute;
    right: -30px;
    top: 20px;
    background-color: #1E2024;
    border: 2px solid #EFEFEF;
    border-radius: 100px;
    padding: 10px;
    height: 48px;
    transform: rotate(160deg);
}

#offer-infos #travel-details .travel-point:first-child {
    top: -5px;
    left: 0px;
}

#offer-infos #travel-details .travel-point:last-child {
    left: 0px;
    bottom: -5px;
}

#offer-infos #good-picto {
    margin-left: 40px;
}

#offer-infos #good-picto img {
    height: 32px;
}

#good-infos {
    flex-basis: 50%;
}

#good-infos > header {
    background-color: #1E2024;
    border-left: 2px solid #FF0069;
    border-bottom: 2px solid #FF0069;
    margin-top: -2px;
    margin-right: -2px;
    border-bottom-left-radius: 20px;
}

#good-infos > header > h3 {
    padding: 10px;
    margin: 0px;
}

#good-infos > section {
    margin: 10px;
    background-color: #1E2024;
    padding: 10px;
    border-radius: 20px;
}

#good-infos > section > h4 {
    margin: 0px;
}

#good-infos > section strong,
#good-infos > section em {
    display: block;
}

#good-infos #good-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#good-infos #good-details #good-type-picto > img {
    background-color: #090A0A;
    padding: 10px;
    height: 48px;
    border-radius: 40px;
}

#good-infos > section strong > img {
    height: 16px;
}

#good-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#offer-actions > button {
    background: none;
    border: 1px solid #FF0069;
    border-radius: 5px;
    padding: 5px 10px;
    color: #EFEFEF;
    cursor: pointer;
}

#offer-actions > button:hover {
    background-color: #FF0069;
}

#sell-form {
    grid-column: 1/11;
    grid-row: 2/9;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(20%, auto);
    z-index: 5;
}

#sell-form > section {
    position: relative;
    background-color: #090A0A;
}

#sell-form > section:first-child {
    grid-column: 1/10;
    grid-row: 1/6;
}

#sell-form > section:nth-child(2) {
    grid-column: 11/21;
    grid-row: 1/5;
}

#sell-form > footer {
    grid-column: 12/21;
    grid-row: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sell-form > section > header {
    position: relative;
}

#sell-form > section > header::before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    border-top: 40px solid #1E2024;
    border-left: 40px solid #1E2024;
    border-bottom: 40px solid #090A0A;
    border-right: 40px solid #090A0A;
    z-index: 1;
}

#sell-form > section > header::after {
    position: absolute;
    content: ' ';
    top: 0px;
    right: 0px;
    border-top: 40px solid #1E2024;
    border-right: 40px solid #1E2024;
    border-bottom: 40px solid #090A0A;
    border-left: 40px solid #090A0A;
    z-index: 1;
}

#sell-form > section > header > h3 {
    position: relative;
    width: 60%;
    height: 30px;
    background-color: #1E2024;
    margin: 0px;
    padding: 10px 20px;
    z-index: 2;
}

#sell-form > section > header > h3::after {
    position: absolute;
    content: ' ';
    top: 0px;
    right: 0px;
    border-top: 25px solid #1E2024;
    border-left: 25px solid #1E2024;
    border-bottom: 25px solid #090A0A;
    border-right: 25px solid #090A0A;
    z-index: 1;
}

#sell-form > section > section {
    padding-top: 50px;
}

#sell-form > section > section > form > header {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1E2024;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sell-form > section > section > form > header > span {
    position: absolute;
    width: 100%;
    content: ' ';
}
#sell-form > section > section > form > header > span:first-child {
    top: 0px;
}
#sell-form > section > section > form > header > span:last-child {
    bottom: 0px;
}
#sell-form > section > section > form > header > span::before,
#sell-form > section > section > form > header > span::after {
    position: absolute;
    content: ' ';
}
#sell-form > section > section > form > header > span:first-child::before {
    top: 0px;
    left: 0px;
    border-bottom: 10px solid #1E2024;
    border-right: 10px solid #1E2024;
    border-top: 10px solid #090A0A;
    border-left: 10px solid #090A0A;
}
#sell-form > section > section > form > header > span:first-child::after {
    top: 0px;
    right: 0px;
    border-bottom: 10px solid #1E2024;
    border-left: 10px solid #1E2024;
    border-top: 10px solid #090A0A;
    border-right: 10px solid #090A0A;
}
#sell-form > section > section > form > header > span:last-child::before {
    bottom: 0px;
    left: 0px;
    border-top: 10px solid #1E2024;
    border-right: 10px solid #1E2024;
    border-bottom: 10px solid #090A0A;
    border-left: 10px solid #090A0A;
}
#sell-form > section > section > form > header > span:last-child::after {
    bottom: 0px;
    right: 0px;
    border-top: 10px solid #1E2024;
    border-left: 10px solid #1E2024;
    border-bottom: 10px solid #090A0A;
    border-right: 10px solid #090A0A;
}

#sell-form > section > section > form > header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sell-form > section > section > form > header > div > p {
    padding-right: 30px;
    font-size: 1.2em;
}

#sell-form .selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    overflow: hidden;
}

#sell-form .selector > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

#sell-form .selector > div.selected {
    background-color: #EFEFEF;
}

.picto {
    width: 24px;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 24px;
}

.picto.lot {
    background-image: url('/static/images/picto/G_P_Lot_64px.png');
}
.picto.arrow {
    background-image: url('/static/images/picto/G_P_Arr_64px.png');
}
.picto.money {
    background-image: url('/static/images/picto/G_P_Mon_64px.png');
}
.picto.ship {
    background-image: url('/static/images/picto/G_P_S_64px.png');
}
.picto.model {
    background-image: url('/static/images/picto/G_P_Ov_64px.png');
}

.selected .picto.lot {
    background-image: url('/static/images/picto/G_P_Lot_64px_BK.png');
}
.selected .picto.arrow {
    background-image: url('/static/images/picto/G_P_Arr_64px_BK.png');
}
.selected .picto.money {
    background-image: url('/static/images/picto/G_P_Mon_BK_64px.png');
}
.selected .picto.ship {
    background-image: url('/static/images/picto/G_P_S_BK_64px.png');
}
.selected .picto.model {
    background-image: url('/static/images/picto/G_P_Ov_BK_64px.png');
}

#sell-form > section > section > form > header > div img {
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

#sell-form > section > section > form > section {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    justify-content: space-between;
}

#sell-form > section > section > form > section > div {
    width: 50%;
}

#sell-form > section > section > form > section p {
    width: 120px;
    padding-right: 20px;
    text-align: right;
    font-size: 0.9em;
    margin: 0px;
}

#sell-form > section > section > form button {
    background-color: #090A0A;
    border: 1px solid #EFEFEF;
    color: #EFEFEF;
    border-radius: 10px;
    padding: 2px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-variant: small-caps;
}

#sell-form #resource-selector {
    display: flex;
    align-items: center;
}

#sell-form #resource-selector > .selector > div {
    text-align: center;
}

#sell-form #resource-selector > .selector > div > img {
    height: 26px;
}

#sell-form #quantity-container,
#sell-form #lot-container {
    padding-top: 10px;
}

#sell-form #price-container {
    padding-top: 100px;
}
#sell-form #discount-container {
    padding-top: 5px;
}

#sell-form #quantity-container > section,
#sell-form #lot-container > section,
#sell-form #price-container,
#sell-form #discount-container {
    display: flex;
    align-items: center;
}

#sell-form #quantity-container > section > div:nth-child(2),
#sell-form #lot-container > section > div:nth-child(2),
#sell-form #price-container > div,
#sell-form #discount-container > div {
    display:flex;
    justify-content: space-between;;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
}

#sell-form #price-container > div,
#sell-form #discount-container > div {
    padding-top: 0px;
    padding-bottom: 0px;
}

#sell-form #quantity-container > section > div:nth-child(2) > input,
#sell-form #lot-container > section > div:nth-child(2) > input,
#sell-form #price-container > div > input,
#sell-form #discount-container > div > input {
    border: none;
    background: none;
    color: #EFEFEF;
    padding: 5px;
    font-size: 1.2em;
    text-align: right;
}

#sell-form #price-container > div > input,
#sell-form #discount-container > div > input {
    width: 60px;
}

#sell-form #quantity-container > section > div:nth-child(2) > img,
#sell-form #lot-container > section > div:nth-child(2) > img{
    height: 26px;
}

#sell-form #price-container > div > p,
#sell-form #discount-container > div > p {
    width: 120px;
    padding-right: 20px;
}

#sell-form #price-container > div > div,
#sell-form #discount-container > div > div {
    display: flex;
    height: 30px;
    padding-top: 5px;
}

#sell-form #price-container > div > div > sup > img,
#sell-form #discount-container > div > div > sup > img {
    height: 12px;
}

#sell-form #price-container > div > div > span,
#sell-form #discount-container > div > div > span{
    padding-top: 5px;
    padding-left: 2px;
}

#sell-form #price-container > div > div > sub,
#sell-form #discount-container > div > div > sub {
    padding-top: 10px;
}

#sell-form #quantity-container > footer,
#sell-form #lot-container > footer {
    padding-top: 5px;
    padding-left: 150px;
    font-size: 0.8em;
}

#sell-form #lot-container > section > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sell-form #resource-info > header > h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

#sell-form #resource-info > section {
    width: 96px;
    height: 96px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    text-align:center;
    border-radius: 20px;
}

#sell-form #resource-info > section > img {
    height: 48px;
}

#sell-form #faction-module {
    margin-top: 40px;
}

#sell-form #faction-module .faction-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#sell-form #faction-module .faction-container > div {
    min-width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
}

#sell-form #faction-module .faction-container > div > div {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

#sell-form #faction-module .faction-container > div > div > img {
    height: 24px;
}

#sell-form > section > footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#sell-form > section > footer::before {
    position: absolute;
    content: ' ';
    left: 0px;
    bottom: 0px;
    border-bottom: 60px solid #l;
    border-left: 60px solid #1E2024;
    border-top: 60px solid #090A0A;
    border-right: 60px solid #090A0A;
}

#sell-form > section > footer::after {
    position: absolute;
    content: ' ';
    bottom: 0px;
    right: 0px;
    border-bottom: 20px solid #1E2024;
    border-right: 20px solid #1E2024;
    border-top: 20px solid #090A0A;
    border-left: 20px solid #090A0A;
}

#sell-form > footer > button {
    margin-right: 25%;
    background: none;
    font-size: 1.4em;
    color: #A0A0A0;
    border-radius: 15px;
    border: 3px solid #E1BB81;
    padding: 5px 10px;
    font-variant: small-caps;
}
