<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kalaxia</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/trade.css" />
    </head>
    <body>
        <div id="sell-form">
            <section>
                <header>
                    <h3 data-translate="true">trade.create_offer</h3>
                </header>
                <section>
                    <form>
                        <header>
                            <span></span>
                            <div>
                                <p><span data-translate="true">trade.offer</span> :</p>
                                <div id="operation-selector" class="selector">
                                    <div data-operation-type="sell" class="selected">
                                        <div class="picto lot"></div>
                                        <div class="picto arrow"></div>
                                        <div class="picto money"></div>
                                    </div>
                                    <div data-operation-type="buy">
                                        <div class="picto money"></div>
                                        <div class="picto arrow"></div>
                                        <div class="picto lot"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p><span data-translate="true">trade.good</span> :</p>
                                <div id="good-type-selector" class="selector">
                                    <div data-choice-type="resources" onclick="chooseType('resources');">
                                        <div class="picto money"></div>
                                    </div>
                                    <div data-choice-type="models" onclick="chooseType('models');">
                                        <div class="picto ship"></div>
                                    </div>
                                    <div data-choice-type="ships" onclick="chooseType('ships');">
                                        <div class="picto model"></div>
                                    </div>
                                </div>
                            </div>
                            <span></span>
                        </header>
                        <section>
                            <div>

                            </div>
                            <div>

                            </div>
                        </section>
                        <footer>

                        </footer>
                    </form>
                </section>
                <footer></footer>
            </section>
            <section>
                <header>
                    <h3 data-translate="true">trade.transport</h3>
                </header>
                <section>

                </section>
                <footer></footer>
            </section>
            <footer>
                <button type="button" onclick="createOffer();" data-translate="true">
                    trade.create_offer
                </button>
            </footer>
        </div>

        <script type="text/javascript" src="/config/config.js"></script>
        <script type="module" src="/static/js/main.js"></script>
        <script type="module">
            import App from '/static/js/core/app.js';
            import { chooseType, createOffer, updateLotIndicator } from '/static/js/trade.js';

            window.createOffer = createOffer;
            window.chooseType = chooseType;
            window.updateLotIndicator = updateLotIndicator;

            App.init().then(() => { chooseType('resources'); });
        </script>
  </body>
</html>
