<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kalaxia</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/fleet.css" />
    </head>
    <body>

        <div id="fleets-view">
            <div id="planet-data">
                <header>
                    <h1></h1>
                </header>
                <section>
                </section>
            </div>
            <section id=fleet-create-section>
                <div id="fleet-create" onclick="createFleet();">fleet.view.planet.create</div>
            </section>
            <section>
                <h3 data-translate="true">fleet.view.planet.title</h3>
            </section>
            <section id="fleets-list">
            <span id="error-fleet-list-section"></span>
            <table id="fleet-table"></table>
            </section>
        </div>

        <script type="text/javascript" src="/config/config.js"></script>
        <script type="module" src="/static/js/main.js"></script>
        <script type="module">
            import App from '/static/js/core/app.js';
            import { createFleet, initFleetViewPlanet, initBaseForFleet } from '/static/js/fleet.js';

            window.createFleet = createFleet;
            App.init().then(() => {
                initFleetViewPlanet();
                initBaseForFleet();
            });
        </script>
  </body>
</html>
