<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kalaxia</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    </head>
    <body>
        <div id="planet-data">
            <header>
                <h1></h1>
            </header>
            <section>
                <div id="planet-population"></div>
                <div id="planet-points"></div>
            </section>
        </div>

        <div id="points-configuration">
            <header>
                <h3 data-translate="true">planet.points_configuration</h3>
                <div id="available-points"></div>
            </header>
            <section>

            </section>
        </div>

        <script type="text/javascript" src="/config/config.js"></script>
        <script type="module" src="/static/js/main.js"></script>
        <script type="module">
            import App from '/static/js/core/app.js';
            import { initBasePopulation, addPoint, substractPoint } from '/static/js/base.js';

            window.addPoint = addPoint;
            window.substractPoint = substractPoint;

            App.init().then(() => { initBasePopulation(); });
        </script>
  </body>
</html>
