<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Kalaxia</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/shipyard.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id="player-data">
                <h3></h3>
                <img id="logout" src="/static/images/logout.svg" onclick="logout();"/>
            </div>
            <div id="ships-list">
                <header>
                    <button onclick="displayFrames();">
                        <img src="/static/images/buildings/build.svg"/>
                    </button>
                </header>
                <section>

                </section>
            </div>
            <div id="ship-conception">
                <div id="frames">
                    <header>
                        <h3 data-translate="true">ships.frame</h3>
                    </header>
                    <section>

                    </section>
                </div>
                <div id="ship-vizualizer">
                    <header>
                        <h3></h3>
                        <div id="ship-stats"></div>
                    </header>
                    <section>

                    </section>
                </div>
            </div>
            <div id="ship-data" class="module">
                <header>
                    <input type="text" name="ship-name" placeholder="Name"/>
                </header>
                <section>
                    <h3 data-translate="true">ships.price</h3>
                    <div class="list"></div>
                </section>
                <footer>
                    <button data-translate="true" onclick="displayFrames();">
                        ships.cancel
                    </button>
                    <button data-translate="true" onclick="createShipModel();">
                        ships.save
                    </button>
                </footer>
            </div>
            <div id="modules">
                <header>
                    <h3></h3>
                    <div class="list"></div>
                </header>
                <section>

                </section>
                <footer>

                </footer>
            </div>
        </div>
        <script type="text/javascript" src="/config/config.js"></script>
        <script type="module" src="/static/js/main.js"></script>
        <script type="module">
            import { initShipyard, displayFrames, createShipModel } from '/static/js/shipyard.js';

            window.displayFrames = displayFrames;
            window.createShipModel = createShipModel;
            window.addEventListener('load', initShipyard);
        </script>
  </body>
</html>
