.button {
    background-color: black;
    padding: 5px 30px 10px 30px;
    border: 2px solid white;
    border-radius: 50px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;

    & > .big {
        display: block;
        font-size: 1.6em;
    }
}