<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kalaxia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
  </head>
  <body>
    <div id="map">

    </div>
    <div id="minimap">

    </div>
    <div id="player-data">
      <h3></h3>
      <img id="logout" src="/static/images/logout.svg" onclick="logout();"/>
    </div>

    <script type="text/javascript" src="/config/config.js"></script>
    <script type="module" src="/static/js/main.js"></script>
    <script type="module">
        import App from '/static/js/core/app.js';
        import { initMap } from '/static/js/map.js';
        import {initJourneyView} from '/static/js/journey.js';
        
        const urlParams = new URLSearchParams(window.location.search);
        const fleetId = urlParams.get("id");
        
        if (fleetId != null && fleetId != undefined) {
            window.setCurrentFleet(fleetId);
        }
        
        const initMapAll = () => {
            
            initMap();
            if (fleetId != null && fleetId != undefined) {
                initJourneyView(fleetId);
            }
            
        }
        
        //window.addEventListener('load', initBaseForFleet);
        App.init().then(initMapAll);
        
    </script>
  </body>
</html>
