<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kalaxia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/journey.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/planet.css" />
  </head>
  <body>
    <div id="map">
        <div class="contextMenuMapWarper">
            <div class="contextMenuMap">
            </div>
        </div>
    </div>
    <div id="minimap">

    </div>
    <div id="player-data">
      <h3></h3>
      <img id="logout" src="/static/images/logout.svg" onclick="logout();"/>
    </div>
    <div id="menu-jouney">
        <div>
            <div class="menu-title" data-translate="true"> jouney.planer.title </div>
            <div class="menu-time"><span data-translate="true"> jouney.planer.estimated_time </span> <span class="time deactivate" data-translate="true"> jouney.planer.no_time </div>
                <div class="menu-cancel"> <div id="remove-last-step" class="button deactivate" data-translate="true">jouney.planer.remove_last_step</div> </div>
            <div class="menu-send"> <div id="send-fleet-button" class="button deactivate" data-translate="true">jouney.planer.send_fleet</div> </div>
            <div class="menu-error"> </div>
        </div>
    </div>

    <script type="text/javascript" src="/config/config.js"></script>
    <script type="module" src="/static/js/main.js"></script>
    <script type="module">
        import App from '/static/js/core/app.js';
        import { initMapForJourneyPlaner } from '/static/js/map.js';
        
        
        const urlParams = new URLSearchParams(window.location.search);
        const fleetId = urlParams.get("id");
        
        if (fleetId != null && fleetId != undefined) {
            window.setCurrentFleet(fleetId);
        }
        
        const initMapAll = () => {
            
            initMapForJourneyPlaner();
            
            
        }
        
        //window.addEventListener('load', initBaseForFleet);
        App.init().then(initMapAll);
        
    </script>
  </body>
</html>
