<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kalaxia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/planet.css" />
  </head>
  <body>
    <div id="player-data">
      <h3></h3>
    </div>
    <section id="planet">
      <figure class="shape"><span class="shadow"></span></figure>
    </section>
    <div id="planet-data">
      <h3></h3>
      <em></em>
      <ul></ul>
    </div>

    <script type="text/javascript" src="/config/config.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/components/planet_resources.js"></script>
    <script type="text/javascript" src="/static/js/planet.js"></script>
  </body>
</html>
