<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kalaxia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
  </head>
  <body>
    <div id="system">
      <div id="star"></div>
    </div>
    <div id="player-data">
      <h3></h3>
      <img id="logout" src="/static/images/logout.svg" onclick="logout();"/>
    </div>
    <div id="map-link">
      <a href="/views/map" data-translate="true">system.links.map</a>
    </div>

    <script type="text/javascript" src="/config/config.js"></script>
    <script type="module" src="/static/js/main.js"></script>
    <script type="module" src="/static/js/system.js"></script>
  </body>
</html>
