.button {
    background-color: black;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;

    & > .big {
        display: block;
        padding-bottom: 5px;
        font-size: 2em;
    }
}